.header {
  top: 0;
  background: var(--color-sub);
  z-index: 10;
  padding: 16px 16px 8px;
}
.brand {
  font-family: "Times New Roman", serif;
  font-size: 60px;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
  padding: 40px;
}
.nav {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  justify-content: space-evenly;
  padding: 15px 38px;
}
.navItem {
  background: none;
  border: none;
  padding: 6px 0;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.64px;
  letter-spacing: -0.4px;
}
.active {
  opacity: 1;
  font-weight: 700;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 0;
  width: 110%;
  height: 1px;
  background: #000;
}

.rule {
  width: 100%;
  height: 2px;
  background: #000;
  margin-top: 8px;
}
