.wrapper {
  overflow: visible;
  display: flex;
  align-items: flex-start;
  margin-bottom: 82px;
  padding-bottom: 30px;
}

.indexInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  flex-shrink: 0;
  width: 20px;
  position: relative;
}

/* 모바일 대응을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .indexInfo {
    height: 120px;
    width: 18px;
  }
}

.indexNumber {
  color: var(--color-grayscale2, #989898);
  font-family: SUIT;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 216.667% */
  letter-spacing: -0.3px;
  margin-bottom: 12px;
  transform: rotate(90deg);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .indexNumber {
    font-size: 10px;
    line-height: 20px;
  }
}

.indexText {
  color: #989898;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  transform: rotate(90deg);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .indexText {
    font-size: 10px;
  }
}

.verticalLine {
  width: 1px;
  height: 220px;
  background: #989898;
  flex-shrink: 0;
  margin-left: 17px;
  margin-right: 7px;
}

.scroller {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  overflow-y: visible !important;
  scroll-behavior: smooth;
}

.scrollerWithHeight {
  height: 270px;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
