.headerContainer {
  padding: 18px 32px 0;
}

.title {
  font-family: 'Pretendard';
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.025em;
  color: #000000;
  margin: 0;
}
