.container {
  margin-bottom: 40px;
}

.notice {
  color: var(--color-main-color, #f37021);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  text-align: start;
  margin: 0;
}
