.container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;
  padding: 0px 32px 40px 32px;
  background: #f2eee9;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 16px;
  background-color: var(--color-main);
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 156.25% */
  letter-spacing: -0.4px;
  border: 1px solid #000;
}

.button:hover {
  background-color: var(--color-main);
}

.button:active {
  background-color: var(--color-main);
}

.button.disabled,
.button:disabled {
  background-color: transparent;
  color: #000;
  cursor: not-allowed;
  border-color: #000;
}

.button.disabled:hover,
.button:disabled:hover {
  background-color: #cccccc;
}

.privacyNotice {
  color: var(--color-main);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 178.571% */
  text-align: start;
  margin: 0 0 16px 0;
}
