.footer {
  position: sticky;
  z-index: 1000;
  bottom: 0;
  background: var(--color-point);
  border-top: 1px solid #c3ccd4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.item {
  padding: 8px 6px 6px;
  background: none;
  border: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  color: #434343;
  font-size: 12px;
}
.icon {
  width: 24px;
  height: 24px;
  background-color: #434343;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
.label {
  line-height: 1;
}
.underline {
  display: block;
  width: 20px;
  height: 2px;
  background: transparent;
  margin-top: 2px;
}
.active {
  color: #000000;
  font-weight: 700;
}
.active .icon {
  background-color: #000000;
}
.active .underline {
  background: #000000;
}

/* 각 아이콘별 mask-image 설정 */
.icon_museum {
  -webkit-mask-image: url("/src/assets/footer/museum.svg");
  mask-image: url("/src/assets/footer/museum.svg");
}

.icon_search {
  -webkit-mask-image: url("/src/assets/footer/search.svg");
  mask-image: url("/src/assets/footer/search.svg");
}

.icon_home {
  -webkit-mask-image: url("/src/assets/footer/feed.svg");
  mask-image: url("/src/assets/footer/feed.svg");
}

.icon_taste {
  -webkit-mask-image: url("/src/assets/footer/heart.svg");
  mask-image: url("/src/assets/footer/heart.svg");
}

.icon_user {
  -webkit-mask-image: url("/src/assets/footer/user.svg");
  mask-image: url("/src/assets/footer/user.svg");
}