.descriptionSection {
  margin: 8px 0 0;
  background: #CFDDE3;
  padding: 22px 21px;
}

.description {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.025em;
  color: #434343;
  margin: 0;
  width: 100%;
}
